/* Import Roboto (Google Fonts) */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* Container */
.header {
  width: 100%;
  background: var(--color-primary-dark);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  direction: rtl;
  font-family: var(--font-main);
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.logo-img {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 100px;
  padding: 1px;
}

.logo-texts {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.logo-title {
  font-size: 20px;
  font-weight: 700;
}

.logo-subtitle {
  font-size: 14px;
  font-weight: 400;
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--color-light-text);
}

.nav-btn:hover,
.nav-btn.active:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.nav-btn:hover .icon {
  color: var(--color-primary);
}

.nav-btn.active,
.nav-btn.active .icon {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-weight: 700;
}

/* CTA Button */
.cta-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  background: transparent;
  color: var(--color-surface);
  transition: background 0.3s ease-in-out;
  font-family: "Roboto", sans-serif;
}

.cta-btn:hover {
  background: var(--color-secondary);
  color: var(--color-primary);
}
.cta-btn:hover .icon {
  color: var(--color-primary);
}
/* Icons */
.icon {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
